/* DEFAULT VALUES */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: gainsboro;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  /* To animate scroll on clicks to a tag */
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

/******************/
nav {
  height: 10vh;
  scroll-snap-align: start;
  /**/
  background-color: #8b64cc;
  /**/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-item {
  /**/
  color: gainsboro;
  /**/
  font-size: 1rem;
  /**/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /**/
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

nav .nav-item :hover {
  /**/
  font-size: 1.2rem;
  /**/
  border-radius: 0.25rem;
  cursor: pointer;
}

nav #logo-container {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Sacramento", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #nav-item-appointment {
  color: #646464;
  background-color: gainsboro;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

nav #nav-item-appointment :hover {
  font-size: 1rem;
}

nav #nav-item-appointment a {
  color: #646464;
}

nav #nav-item-appointment .circle::before {
  content: "+";
  height: 40px;
  width: 40px;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-family: courier;
  color: #646464;
}

/******************/
section {
  height: 100vh;
  scroll-snap-align: start;
}

#section-homepage {
  background-color: #c8c8c8;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-homepage #homepage-header-maincontainer {
  background-color: whitesmoke;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-homepage #homepage-header-maincontainer #homepage-header-textcontainer {
  height: 45vh;
  width: 55vh;
}

#section-homepage #homepage-header-maincontainer #homepage-header-textcontainer h3 {
  color: rgba(182, 171, 231, 0.452);
  padding-bottom: 2rem;
}

#section-homepage #homepage-header-maincontainer #homepage-header-textcontainer h1 {
  color: #54768a;
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

#section-homepage #homepage-header-maincontainer #homepage-header-textcontainer p {
  color: rgba(84, 118, 138, 0.55);
  font-size: 1.5rem;
}

#section-homepage #homepage-image-maincontainer {
  background-color: whitesmoke;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-homepage #homepage-image-maincontainer img {
  width: 70%;
}

#section-services {
  background-color: blue;
}

#section-contact {
  background-color: green;
}

#section-appointment {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-appointment #appointment-form-container {
  width: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-appointment #appointment-form-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #424874;
}

#section-appointment #appointment-form-container ul {
  list-style-type: none;
}

#section-appointment #appointment-form-container label {
  color: rgba(125, 83, 198, 0.75);
  font-weight: bold;
}

#section-appointment #appointment-form-container input,
#section-appointment #appointment-form-container textarea {
  width: 100%;
  background-color: rgba(84, 118, 138, 0.164);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #54768a;
  border-radius: 10px;
}

#section-appointment #appointment-image-container {
  width: 50%;
}

#section-appointment #appointment-image-container img {
  margin-top: 10rem;
  width: 70%;
}

/******************/
#scroll-button {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid #646464;
  background-color: beige;
  position: fixed;
  top: 85%;
  right: 2%;
}

/******************/
footer {
  height: 10vh;
  /**/
  background-color: gainsboro;
  color: #646464;
  /**/
  font-size: 0.6rem;
  /**/
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/******************/
/*# sourceMappingURL=main.css.map */