// VARIABLES
$light-text-color: rgb(220, 220, 220);
$dark-text-color: rgb(100, 100, 100);

/* DEFAULT VALUES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $light-text-color;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;

  /* To animate scroll on clicks to a tag */
  scroll-behavior: smooth;

  scroll-snap-type: y mandatory;
}
/******************/

/////////////////
// NAVBAR STARTS
/////////////////
nav {
  height: 10vh;
  scroll-snap-align: start;
  /**/
  background-color: rgb(139, 100, 204);
  /**/
  display: flex;
  justify-content: space-around;

  .nav-item {
    /**/
    color: $light-text-color;
    /**/
    font-size: 1rem;
    /**/
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /**/
    transition: 400ms ease;

    :hover {
      transition: 400ms ease;
      /**/
      font-size: 1.2rem;
      /**/
      border-radius: 0.25rem;
      cursor: pointer;
    }
  }

  #logo-container {
    font-size: 3rem;
    font-weight: 900;
    font-family: "Sacramento", cursive;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-item-appointment {
    :hover {
      font-size: 1rem;
    }

    color: rgb(100, 100, 100);
    background-color: $light-text-color;

    padding: 20px;

    border-radius: 10px;

    border: none;

    a {
      color: $dark-text-color;
    }

    .circle::before {
      content: "+";
      height: 40px;
      width: 40px;
      font-size: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-family: courier;
      color: $dark-text-color;
    }
  }
}
/******************/

/////////////////
// SECTION STARTS
/////////////////
section {
  height: 100vh;
  scroll-snap-align: start;
}

#section-homepage {
  background-color: rgb(200, 200, 200);
  height: 90vh;
}
#section-services {
  background-color: blue;
}
#section-contact {
  background-color: green;
}
#section-appointment {
  background-color: pink;
  height: 90vh;
}
/******************/

/////////////////
// SCROLL BUTTON STARTS
/////////////////
#scroll-button {
  font-size: 0.7rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid rgb(100, 100, 100);
  background-color: beige;
  position: fixed;
  top: 85%;
  right: 2%;
}
/******************/

/////////////////
// FOOTER STARTS
/////////////////
footer {
  height: 10vh;
  /**/
  background-color: $light-text-color;
  color: $dark-text-color;
  /**/
  font-size: 0.6rem;
  /**/
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
/******************/
